{% load static %}
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.min.js' %} "></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'js/custom.js' %} "></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/dash_2.js' %}"></script>
        <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'js/form-1.js' %}"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

</body>

</html>