{% extends 'base.html' %}
{% load static %}
{% block title %}
404
{% endblock title %}
{% block body %}


<div class="page-content">

<!--login start-->

<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-10 col-lg-6 col-md-10 col-sm-10 error-page">
        <h2>404</h2>
        <h4>We are sorry, the page you've requested is not available. </h4>
      </div>
    </div>
  </div>
</section>
</div>



{% endblock body %}