  <section class="bg-pink py-9 position-relative overflow-hidden">
      <div class="container">
        <div class="row justify-content-center text-center mb-1">
          <div class="col-lg-6 col-md-10">
            <div class="mb-4">
              <h2 class="mb-0">Be the first and get weekly updates</h2>
            </div>
            <div class="subscribe-form">
              <form id="mc-form" class="row align-items-center no-gutters mb-3">
                <div class="col">
                  <input value="" name="EMAIL" class="email form-control input-2 bg-white" id="mc-email" placeholder="Email Address" required type="email">
                </div>
                <div class="col-auto">
                  <input class="btn dark-btn overflow-auto" name="subscribe" value="Subscribe" type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--multi sec end--> 
    
  </div>
  
  <!--body content end--> 
  
  <!--footer start-->
  
  <footer class="py-11 bg-dark-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4"> <a class="footer-logo text-white h2 mb-0" href="index.html"> <img class="img-fluid" src="sta images/footer-logo.png" alt=""> </a>
          <p class="my-3 text-muted pr-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in velit a nibh ullamcorper dictum a malesuada ex. Donec sit amet volutpat nunc.</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-facebook"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-dribbble"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-instagram"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-twitter"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-linkedin"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class=" lab la-pinterest-p"></i></a> </li>
          </ul>
        </div>
        <div class="col-12 col-lg-8 mt-6 mt-lg-0">
          <div class="row">
            <div class="col-12 col-sm-4 navbar-white">
              <h6 class="mb-4 text-white font-w-5">Quick Links</h6>
              <ul class="navbar-nav list-unstyled mb-0">
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Shipment</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="about-us-1.html">About</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="shop-grid-left-sidebar.html">Shop</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="faq.html">Faq</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="blog-card.html">Blogs</a> </li>
                <li class="nav-item"><a class="nav-link text-muted font-w-4" href="contact-us.html">Contact Us</a> </li>
              </ul>
            </div>
            <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-white">
              <h6 class="mb-4 text-white font-w-5">Information</h6>
              <ul class="navbar-nav list-unstyled mb-0">
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="terms-and-conditions.html">Term Of Service</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="privacy-policy.html">Privacy Policy</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Support</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Orders History</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Your Account</a> </li>
                <li class="nav-item"><a class="nav-link text-muted font-w-4" href="#">Suppliers</a> </li>
              </ul>
            </div>
            <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-white">
              <h6 class="mb-4 text-white font-w-5">Shopping Guide</h6>
              <ul class="navbar-nav list-unstyled mb-0">
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Site Map</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Search Terms</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Advanced Search</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Return policy</a> </li>
                <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Where is my order?</a> </li>
                <li class="nav-item"><a class="nav-link text-muted font-w-4" href="#">Our Story</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-muted align-items-center pt-9">
        <div class="col-md-7 font-w-4"><small>Desgined and Developed By Shivam</small> </div>
        <div class="col-md-5 text-md-right mt-3 mt-md-0">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="sta images/pay-icon/01.png" alt=""> </a> </li>
            <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="sta images/pay-icon/02.png" alt=""> </a> </li>
            <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="sta images/pay-icon/03.png" alt=""> </a> </li>
            <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="sta images/pay-icon/04.png" alt=""> </a> </li>
            <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="sta images/pay-icon/05.png" alt=""> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  